footer {
  background-color:#252B42;
  padding: 50px 0 0 10px;
}

.text-reset {
  color: #fff !important;
}

.oq {
  color: #fff !important;
}

.text-reset {
  text-decoration: none;
}

.bx {
  font-size: 18px;
}

.social {
  color: black;
  font-size: 25px;
}

.text-uppercase  {
  color: #fff;
}