.bg-header {
  background-color: transparent;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 600px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #fff;
}

.hero__content-title {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
}

.hero__content-btns {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width:610px) {
  .hero__content-title {
    font-size: 50px;
     line-height: 70px;
  }
  
}