#industry-section {
  background-color: #8EC2F2;
  padding: 80px 0;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.inner__title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #ffff;
}

.inner__txt {
  max-width: 650px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #ffff;

}

.industry__div {
  width: 400px;
}

.industry__div-small {
  background-color: #ffff;
  padding: 20px 30px;
  position: relative; 

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url('../../img/alina.png');
    background-size: cover;
    width: 70px;
    height: 70px;
    top: 30px;
    left: -40px;
  }
}

.industry__div-small:nth-child(2)::before {
  background-image: url('../../img/david.svg');
}

.industry__title {
  text-align: start;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.industry__span {
  display: block;
  text-align: start;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.industry__txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: start;
}

.industry__div-small img {
  display: block;
  text-align: start;
}

 @media screen and (max-width:985px) {
   .inner {
     flex-direction: column;
   }

   .industry__div-small {
     margin-bottom: 80px;
   }

   .industry__div-small::before {
     display: none;
   }

 }

 @media screen and (max-width:425px) {
  .industry__div {
    width: 300px;
  }
 }